<p class='country-name'><span class='font-weight-bold'><img
      class='country-image'
      src={{this.flags.svg}}
      alt='flag'
      width='50'
      height='50'
    />
    {{this.name.official}}</span></p>
<ul class='country-info__country-propeties-list'>
  <li class='country-info__country-propeties-item'><span
      class='font-weight-bold'
    >Capital:</span>
    {{this.capital}}</li>
  <li class='country-info__country-propeties-item'><span
      class='font-weight-bold'
    >Population:</span>
    {{this.population}}</li>
  <li class='country-info__country-propeties-item'><span
      class='font-weight-bold'
    >Languages:</span>
    {{this.languages}}</li>
</ul>