<svg>
  <use class='country-image' href={{this.flags.svg}}></use>
</svg>
<p class='country-name'>{{this.name.official}}</p>
<ul class='country-info__country-propeties-list'>
  <li class='country-info__country-propeties-item'>Capital:
    {{this.capital}}</li>
  <li class='country-info__country-propeties-item'>Population:
    {{this.population}}</li>
  <li class='country-info__country-propeties-item'>Languages:
    {{this.languages}}</li>
</ul>