<div class="countries">
    <svg>
        <use href={{this.flags.svg}}></use>
    </svg>
    <p class="country-name">{{this.name}}</p>
    <ul>
        <li>Capital: {{this.capital}}</li>
        <li>Population: {{this.population}}</li>
        <li>Languages: {{this.languages}}</li>
    </ul>
</div>